@page "/icompra"
@using BlazorAdmin2.Data
@inject IJSRuntime JsRuntime

<h1>Teste Formulario Para Clientes</h1>

<EditForm Model="@cFichaCliente" OnValidSubmit="@InsertFichaCliente">
    <DataAnnotationsValidator/>

    <p>
        <label for="nome">Nome do Fornecedor:</label>
        <InputText id="nome" @bind-Value="cFichaCliente.Nome"/>
        <ValidationMessage For="@(() => cFichaCliente.Nome)"/>
    </p>
    <p>
        <label for="telefone">Ver com o pai:</label>
        <InputNumber id="telefone" @bind-Value="cFichaCliente.Telefone"/>
        <ValidationMessage For="@(() => cFichaCliente.Telefone)"/>
    </p>
    <p>
        <label for="email">Ver com o pai:</label>
        <InputText id="email" placeholder="Boas" @bind-Value="cFichaCliente.Email"/>
        <ValidationMessage For="@(() => cFichaCliente.Email)"/>
    </p>
    <p>
        <label for="morada">Ver com o pai:</label>
        <InputText id="morada" @bind-Value="cFichaCliente.Morada"/>
        <ValidationMessage For="@(() => cFichaCliente.Morada)"/>
    </p>
    <p>
        <label for="moradaopcional">Ver com o pai:</label>
        <InputText id="moradaopcional" @bind-Value="cFichaCliente.Moradaopcional"/>
    </p>
    <p>
        <label for="codigopostal">Ver com o pai:</label>
        <InputText id="codigopostal" @bind-Value="cFichaCliente.Codigopostal"/>
        <ValidationMessage For="@(() => cFichaCliente.Codigopostal)"/>
    </p>
    <button type="submit">Submit</button>
</EditForm>


@code {

    private CFichaCliente cFichaCliente = new CFichaCliente();

    private async Task InsertFichaCliente()
    {
        // await JsRuntime.InvokeVoidAsync("setElementTextById", "resultJson", JsonSerializer.Serialize(cFichaCliente));
    }

}